=begin
#freee API

# <h1 id=\"freee_api\">freee API</h1> <hr /> <h2 id=\"\">スタートガイド</h2>  <p>freee API開発がはじめての方は<a href=\"https://developer.freee.co.jp/getting-started\">freee API スタートガイド</a>を参照してください。</p>  <hr /> <h2 id=\"_2\">仕様</h2>  <h3 id=\"api\">APIエンドポイント</h3>  <p>https://api.freee.co.jp/ (httpsのみ)</p>  <h3 id=\"_3\">認証方式</h3>  <p><a href=\"http://tools.ietf.org/html/rfc6749\">OAuth2</a>に対応</p>  <ul> <li>Authorization Code Flow (Webアプリ向け)</li>  <li>Implicit Flow (Mobileアプリ向け)</li> </ul>  <h3 id=\"_4\">認証エンドポイント</h3>  <p>https://accounts.secure.freee.co.jp/</p>  <ul> <li>authorize : https://accounts.secure.freee.co.jp/public_api/authorize</li>  <li>token : https://accounts.secure.freee.co.jp/public_api/token</li> </ul>  <h3 id=\"_5\">アクセストークンのリフレッシュ</h3>  <p>認証時に得たrefresh_token を使ってtoken の期限をリフレッシュして新規に発行することが出来ます。</p>  <p>grant_type=refresh_token で https://accounts.secure.freee.co.jp/public_api/token にアクセスすればリフレッシュされます。</p>  <p>e.g.)</p>  <p>POST: https://accounts.secure.freee.co.jp/public_api/token</p>  <p>params: grant_type=refresh_token&amp;client_id=UID&amp;client_secret=SECRET&amp;refresh_token=REFRESH_TOKEN</p>  <p>詳細は<a href=\"https://github.com/applicake/doorkeeper/wiki/Enable-Refresh-Token-Credentials#flow\">refresh_token</a>を参照下さい。</p>  <h3 id=\"_6\">アクセストークンの破棄</h3>  <p>認証時に得たaccess_tokenまたはrefresh_tokenを使って、tokenを破棄することができます。 token=access_tokenまたはtoken=refresh_tokenでhttps://accounts.secure.freee.co.jp/public_api/revokeにアクセスすると破棄されます。token_type_hintでaccess_tokenまたはrefresh_tokenを陽に指定できます。</p>  <p>e.g.)</p>  <p>POST: https://accounts.secure.freee.co.jp/public_api/revoke</p>  <p>params: token=ACCESS_TOKEN</p>  <p>または</p>  <p>params: token=REFRESH_TOKEN</p>  <p>または</p>  <p>params: token=ACCESS_TOKEN&amp;token_type_hint=access_token</p>  <p>または</p>  <p>params: token=REFRESH_TOKEN&amp;token_type_hint=refresh_token</p>  <p>詳細は <a href=\"https://tools.ietf.org/html/rfc7009\">OAuth 2.0 Token revocation</a> をご参照ください。</p>  <h3 id=\"_7\">データフォーマット</h3>  <p>リクエスト、レスポンスともにJSON形式をサポート</p>  <h3 id=\"_8\">後方互換性ありの変更</h3>  <p>freeeでは、APIを改善していくために以下のような変更は後方互換性ありとして通知なく変更を入れることがあります。アプリケーション実装者は以下を踏まえて開発を行ってください。</p>  <ul> <li>新しいAPIリソース・エンドポイントの追加</li> <li>既存のAPIに対して必須ではない新しいリクエストパラメータの追加</li> <li>既存のAPIレスポンスに対する新しいプロパティの追加</li> <li>既存のAPIレスポンスに対するプロパティの順番の入れ変え</li> <li>keyとなっているidやcodeの長さの変更（長くする）</li> </ul>  <h3 id=\"_9\">共通レスポンスヘッダー</h3>  <p>すべてのAPIのレスポンスには以下のHTTPヘッダーが含まれます。</p>  <ul> <li> <p>X-Freee-Request-ID</p> <ul> <li>各リクエスト毎に発行されるID</li> </ul> </li> </ul>  <h3 id=\"_10\">共通エラーレスポンス</h3>  <ul> <li> <p>ステータスコードはレスポンス内のJSONに含まれる他、HTTPヘッダにも含まれる</p> </li>  <li> <p>type</p>  <ul> <li>status : HTTPステータスコードの説明</li>  <li>validation : エラーの詳細の説明（開発者向け）</li> </ul> </li> </ul>  <p>レスポンスの例</p>  <pre><code>  {     &quot;status_code&quot; : 400,     &quot;errors&quot; : [       {         &quot;type&quot; : &quot;status&quot;,         &quot;messages&quot; : [&quot;不正なリクエストです。&quot;]       },       {         &quot;type&quot; : &quot;validation&quot;,         &quot;messages&quot; : [&quot;Date は不正な日付フォーマットです。入力例：2013-01-01&quot;]       }     ]   }</code></pre>  </br>  <h3 id=\"_11\">API使用制限</h3>    <p>freeeは一定期間に過度のアクセスを検知した場合、APIアクセスをコントロールする場合があります。</p>   <p>その際のhttp status codeは403となります。制限がかかってから10分程度が過ぎると再度使用することができるようになります。</p>  <h4 id=\"_12\">/reportsエンドポイント</h4>  <p>freeeは/reportsエンドポイントに対して1秒間に10以上のアクセスを検知した場合、APIアクセスをコントロールする場合があります。その際のhttp status codeは429（too many requests）となります。</p>  <p>レスポンスボディのmetaプロパティに以下を含めます。</p>  <ul>   <li>設定されている上限値</li>   <li>上限に達するまでの使用可能回数</li>   <li>（上限値に達した場合）使用回数がリセットされる時刻</li> </ul>  <h3 id=\"_13\">プラン別のAPI Rate Limit</h3>   <table border=\"1\">     <tbody>       <tr>         <th style=\"padding: 10px\"><strong>会計freeeプラン名</strong></th>         <th style=\"padding: 10px\"><strong>事業所とアプリケーション毎に1日でのAPIコール数</strong></th>       </tr>       <tr>         <td style=\"padding: 10px\">エンタープライズ</td>         <td style=\"padding: 10px\">10,000</td>       </tr>       <tr>         <td style=\"padding: 10px\">プロフェッショナル</td>         <td style=\"padding: 10px\">5,000</td>       </tr>       <tr>         <td style=\"padding: 10px\">ベーシック</td>         <td style=\"padding: 10px\">3,000</td>       </tr>       <tr>         <td style=\"padding: 10px\">ミニマム</td>         <td style=\"padding: 10px\">3,000</td>       </tr>       <tr>         <td style=\"padding: 10px\">上記以外</td>         <td style=\"padding: 10px\">3,000</td>       </tr>     </tbody>   </table>  <hr /> <h2 id=\"_14\">連絡先</h2>  <p>ご不明点、ご要望等は <a href=\"https://support.freee.co.jp/hc/ja/requests/new\">freee サポートデスクへのお問い合わせフォーム</a> からご連絡ください。</p> <hr />&copy; Since 2013 freee K.K.

The version of the OpenAPI document: v1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.2.3

=end

require 'cgi'

module UnofficialFreeeSdk
  class ManualJournalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 振替伝票の作成
    #  <h2 id=\"\">概要</h2>  <p>指定した事業所の振替伝票を作成する</p>  <h2 id=\"_2\">定義</h2>  <ul> <li> <p>issue_date : 発生日</p> </li>  <li> <p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p> </li>  <li> <p>txn_number : 仕訳番号</p> </li>  <li> <p>details : 振替伝票の貸借行</p> </li>  <li> <p>entry_side : 貸借区分</p>  <ul> <li>credit : 貸方</li>  <li>debit : 借方</li> </ul> </li>  <li> <p>amount : 金額</p> </li> </ul>  <h2 id=\"_3\">注意点</h2>  <ul> <li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li> <li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li> <li>貸借合わせて100行まで仕訳行を登録できます。</li> <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li> <li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li></ul>  
    # @param [Hash] opts the optional parameters
    # @option opts [ManualJournalCreateParams] :manual_journal_create_params 振替伝票の作成
    # @return [ManualJournalResponse]
    def create_manual_journal(opts = {})
      data, _status_code, _headers = create_manual_journal_with_http_info(opts)
      data
    end

    # 振替伝票の作成
    #  &lt;h2 id&#x3D;\&quot;\&quot;&gt;概要&lt;/h2&gt;  &lt;p&gt;指定した事業所の振替伝票を作成する&lt;/p&gt;  &lt;h2 id&#x3D;\&quot;_2\&quot;&gt;定義&lt;/h2&gt;  &lt;ul&gt; &lt;li&gt; &lt;p&gt;issue_date : 発生日&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;txn_number : 仕訳番号&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;details : 振替伝票の貸借行&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;entry_side : 貸借区分&lt;/p&gt;  &lt;ul&gt; &lt;li&gt;credit : 貸方&lt;/li&gt;  &lt;li&gt;debit : 借方&lt;/li&gt; &lt;/ul&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;amount : 金額&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt;  &lt;h2 id&#x3D;\&quot;_3\&quot;&gt;注意点&lt;/h2&gt;  &lt;ul&gt; &lt;li&gt;振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。&lt;/li&gt; &lt;li&gt;事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。&lt;/li&gt; &lt;li&gt;貸借合わせて100行まで仕訳行を登録できます。&lt;/li&gt; &lt;li&gt;セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。&lt;/li&gt; &lt;li&gt;partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。&lt;/li&gt;&lt;/ul&gt;  
    # @param [Hash] opts the optional parameters
    # @option opts [ManualJournalCreateParams] :manual_journal_create_params 振替伝票の作成
    # @return [Array<(ManualJournalResponse, Integer, Hash)>] ManualJournalResponse data, response status code and response headers
    def create_manual_journal_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualJournalsApi.create_manual_journal ...'
      end
      # resource path
      local_var_path = '/api/1/manual_journals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'manual_journal_create_params']) 

      # return_type
      return_type = opts[:return_type] || 'ManualJournalResponse' 

      # auth_names
      auth_names = opts[:auth_names] || ['oauth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualJournalsApi#create_manual_journal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 振替伝票の削除
    #  <h2 id=\"\">概要</h2>  <p>指定した事業所の振替伝票を削除する</p>
    # @param id [Integer] 
    # @param company_id [Integer] 事業所ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def destroy_manual_journal(id, company_id, opts = {})
      destroy_manual_journal_with_http_info(id, company_id, opts)
      nil
    end

    # 振替伝票の削除
    #  &lt;h2 id&#x3D;\&quot;\&quot;&gt;概要&lt;/h2&gt;  &lt;p&gt;指定した事業所の振替伝票を削除する&lt;/p&gt;
    # @param id [Integer] 
    # @param company_id [Integer] 事業所ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def destroy_manual_journal_with_http_info(id, company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualJournalsApi.destroy_manual_journal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ManualJournalsApi.destroy_manual_journal"
      end
      if @api_client.config.client_side_validation && id > 999999999999
        fail ArgumentError, 'invalid value for "id" when calling ManualJournalsApi.destroy_manual_journal, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && id < 1
        fail ArgumentError, 'invalid value for "id" when calling ManualJournalsApi.destroy_manual_journal, must be greater than or equal to 1.'
      end

      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ManualJournalsApi.destroy_manual_journal"
      end
      if @api_client.config.client_side_validation && company_id > 4294967295
        fail ArgumentError, 'invalid value for "company_id" when calling ManualJournalsApi.destroy_manual_journal, must be smaller than or equal to 4294967295.'
      end

      if @api_client.config.client_side_validation && company_id < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ManualJournalsApi.destroy_manual_journal, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/1/manual_journals/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = company_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['oauth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualJournalsApi#destroy_manual_journal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 振替伝票の取得
    #  <h2 id=\"\">概要</h2>  <p>指定した事業所の振替伝票を取得する</p>  <h2 id=\"_2\">定義</h2>  <ul> <li> <p>issue_date : 発生日</p> </li> <li> <p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p> </li> <li> <p>txn_number : 仕訳番号</p> </li> <li> <p>details : 振替伝票の貸借行</p> </li> <li> <p>entry_side : 貸借区分</p> <ul> <li>credit : 貸方</li> <li>debit : 借方</li> </ul> </li> <li> <p>amount : 金額</p> </li> </ul>  <h2 id=\"_3\">注意点</h2>  <ul> <li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li> <li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li> <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li> </ul>
    # @param company_id [Integer] 事業所ID
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [ManualJournalResponse]
    def get_manual_journal(company_id, id, opts = {})
      data, _status_code, _headers = get_manual_journal_with_http_info(company_id, id, opts)
      data
    end

    # 振替伝票の取得
    #  &lt;h2 id&#x3D;\&quot;\&quot;&gt;概要&lt;/h2&gt;  &lt;p&gt;指定した事業所の振替伝票を取得する&lt;/p&gt;  &lt;h2 id&#x3D;\&quot;_2\&quot;&gt;定義&lt;/h2&gt;  &lt;ul&gt; &lt;li&gt; &lt;p&gt;issue_date : 発生日&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;txn_number : 仕訳番号&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;details : 振替伝票の貸借行&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;entry_side : 貸借区分&lt;/p&gt; &lt;ul&gt; &lt;li&gt;credit : 貸方&lt;/li&gt; &lt;li&gt;debit : 借方&lt;/li&gt; &lt;/ul&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;amount : 金額&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt;  &lt;h2 id&#x3D;\&quot;_3\&quot;&gt;注意点&lt;/h2&gt;  &lt;ul&gt; &lt;li&gt;振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。&lt;/li&gt; &lt;li&gt;事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。&lt;/li&gt; &lt;li&gt;セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。&lt;/li&gt; &lt;/ul&gt;
    # @param company_id [Integer] 事業所ID
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ManualJournalResponse, Integer, Hash)>] ManualJournalResponse data, response status code and response headers
    def get_manual_journal_with_http_info(company_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualJournalsApi.get_manual_journal ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ManualJournalsApi.get_manual_journal"
      end
      if @api_client.config.client_side_validation && company_id > 4294967295
        fail ArgumentError, 'invalid value for "company_id" when calling ManualJournalsApi.get_manual_journal, must be smaller than or equal to 4294967295.'
      end

      if @api_client.config.client_side_validation && company_id < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ManualJournalsApi.get_manual_journal, must be greater than or equal to 1.'
      end

      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ManualJournalsApi.get_manual_journal"
      end
      if @api_client.config.client_side_validation && id > 999999999999
        fail ArgumentError, 'invalid value for "id" when calling ManualJournalsApi.get_manual_journal, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && id < 1
        fail ArgumentError, 'invalid value for "id" when calling ManualJournalsApi.get_manual_journal, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/1/manual_journals/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = company_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ManualJournalResponse' 

      # auth_names
      auth_names = opts[:auth_names] || ['oauth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualJournalsApi#get_manual_journal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 振替伝票一覧の取得
    #  <h2 id=\"\">概要</h2>  <p>指定した事業所の振替伝票一覧を取得する</p>  <h2 id=\"_2\">定義</h2>  <ul> <li> <p>issue_date : 発生日</p> </li>  <li> <p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p> </li>  <li> <p>txn_number : 仕訳番号</p> </li>  <li> <p>details : 振替伝票の貸借行</p> </li>  <li> <p>entry_side : 貸借区分</p>  <ul> <li>credit : 貸方</li>  <li>debit : 借方</li> </ul> </li>  <li> <p>amount : 金額</p> </li> </ul>  <h2 id=\"_3\">注意点</h2>  <ul> <li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li> <li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li> <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li> <li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li></ul>
    # @param company_id [Integer] 事業所ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_issue_date 発生日で絞込：開始日(yyyy-mm-dd)
    # @option opts [String] :end_issue_date 発生日で絞込：終了日(yyyy-mm-dd)
    # @option opts [String] :entry_side 貸借で絞込 (貸方: credit, 借方: debit)
    # @option opts [Integer] :account_item_id 勘定科目IDで絞込
    # @option opts [Integer] :min_amount 金額で絞込：下限
    # @option opts [Integer] :max_amount 金額で絞込：上限
    # @option opts [Integer] :partner_id 取引先IDで絞込（0を指定すると、取引先が未選択の貸借行を絞り込めます）
    # @option opts [String] :partner_code 取引先コードで絞込
    # @option opts [Integer] :item_id 品目IDで絞込（0を指定すると、品目が未選択の貸借行を絞り込めます）
    # @option opts [Integer] :section_id 部門IDで絞込（0を指定すると、部門が未選択の貸借行を絞り込めます）
    # @option opts [Integer] :segment_1_tag_id セグメント１IDで絞り込み（0を指定すると、セグメント１が未選択の貸借行を絞り込めます）
    # @option opts [Integer] :segment_2_tag_id セグメント２IDで絞り込み（0を指定すると、セグメント２が未選択の貸借行を絞り込めます）
    # @option opts [Integer] :segment_3_tag_id セグメント３IDで絞り込み（0を指定すると、セグメント３が未選択の貸借行を絞り込めます）
    # @option opts [String] :comment_status コメント状態で絞込（自分宛のコメント: posted_with_mention, 自分宛のコメント-未解決: raised_with_mention, 自分宛のコメント-解決済: resolved_with_mention, コメントあり: posted, 未解決: raised, 解決済: resolved, コメントなし: none）
    # @option opts [Boolean] :comment_important 重要コメント付きの振替伝票を絞込
    # @option opts [String] :adjustment 決算整理仕訳で絞込（決算整理仕訳のみ: only, 決算整理仕訳以外: without）
    # @option opts [String] :txn_number 仕訳番号で絞込（事業所の仕訳番号形式が有効な場合のみ）
    # @option opts [Integer] :offset 取得レコードのオフセット (デフォルト: 0)
    # @option opts [Integer] :limit 取得レコードの件数 (デフォルト: 20, 最小: 1, 最大: 500) 
    # @return [InlineResponse2006]
    def get_manual_journals(company_id, opts = {})
      data, _status_code, _headers = get_manual_journals_with_http_info(company_id, opts)
      data
    end

    # 振替伝票一覧の取得
    #  &lt;h2 id&#x3D;\&quot;\&quot;&gt;概要&lt;/h2&gt;  &lt;p&gt;指定した事業所の振替伝票一覧を取得する&lt;/p&gt;  &lt;h2 id&#x3D;\&quot;_2\&quot;&gt;定義&lt;/h2&gt;  &lt;ul&gt; &lt;li&gt; &lt;p&gt;issue_date : 発生日&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;txn_number : 仕訳番号&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;details : 振替伝票の貸借行&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;entry_side : 貸借区分&lt;/p&gt;  &lt;ul&gt; &lt;li&gt;credit : 貸方&lt;/li&gt;  &lt;li&gt;debit : 借方&lt;/li&gt; &lt;/ul&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;amount : 金額&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt;  &lt;h2 id&#x3D;\&quot;_3\&quot;&gt;注意点&lt;/h2&gt;  &lt;ul&gt; &lt;li&gt;振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。&lt;/li&gt; &lt;li&gt;事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。&lt;/li&gt; &lt;li&gt;セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。&lt;/li&gt; &lt;li&gt;partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。&lt;/li&gt;&lt;/ul&gt;
    # @param company_id [Integer] 事業所ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_issue_date 発生日で絞込：開始日(yyyy-mm-dd)
    # @option opts [String] :end_issue_date 発生日で絞込：終了日(yyyy-mm-dd)
    # @option opts [String] :entry_side 貸借で絞込 (貸方: credit, 借方: debit)
    # @option opts [Integer] :account_item_id 勘定科目IDで絞込
    # @option opts [Integer] :min_amount 金額で絞込：下限
    # @option opts [Integer] :max_amount 金額で絞込：上限
    # @option opts [Integer] :partner_id 取引先IDで絞込（0を指定すると、取引先が未選択の貸借行を絞り込めます）
    # @option opts [String] :partner_code 取引先コードで絞込
    # @option opts [Integer] :item_id 品目IDで絞込（0を指定すると、品目が未選択の貸借行を絞り込めます）
    # @option opts [Integer] :section_id 部門IDで絞込（0を指定すると、部門が未選択の貸借行を絞り込めます）
    # @option opts [Integer] :segment_1_tag_id セグメント１IDで絞り込み（0を指定すると、セグメント１が未選択の貸借行を絞り込めます）
    # @option opts [Integer] :segment_2_tag_id セグメント２IDで絞り込み（0を指定すると、セグメント２が未選択の貸借行を絞り込めます）
    # @option opts [Integer] :segment_3_tag_id セグメント３IDで絞り込み（0を指定すると、セグメント３が未選択の貸借行を絞り込めます）
    # @option opts [String] :comment_status コメント状態で絞込（自分宛のコメント: posted_with_mention, 自分宛のコメント-未解決: raised_with_mention, 自分宛のコメント-解決済: resolved_with_mention, コメントあり: posted, 未解決: raised, 解決済: resolved, コメントなし: none）
    # @option opts [Boolean] :comment_important 重要コメント付きの振替伝票を絞込
    # @option opts [String] :adjustment 決算整理仕訳で絞込（決算整理仕訳のみ: only, 決算整理仕訳以外: without）
    # @option opts [String] :txn_number 仕訳番号で絞込（事業所の仕訳番号形式が有効な場合のみ）
    # @option opts [Integer] :offset 取得レコードのオフセット (デフォルト: 0)
    # @option opts [Integer] :limit 取得レコードの件数 (デフォルト: 20, 最小: 1, 最大: 500) 
    # @return [Array<(InlineResponse2006, Integer, Hash)>] InlineResponse2006 data, response status code and response headers
    def get_manual_journals_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualJournalsApi.get_manual_journals ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ManualJournalsApi.get_manual_journals"
      end
      if @api_client.config.client_side_validation && company_id > 4294967295
        fail ArgumentError, 'invalid value for "company_id" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 4294967295.'
      end

      if @api_client.config.client_side_validation && company_id < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 1.'
      end

      allowable_values = ["credit", "debit"]
      if @api_client.config.client_side_validation && opts[:'entry_side'] && !allowable_values.include?(opts[:'entry_side'])
        fail ArgumentError, "invalid value for \"entry_side\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'account_item_id'].nil? && opts[:'account_item_id'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"account_item_id"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'account_item_id'].nil? && opts[:'account_item_id'] < 1
        fail ArgumentError, 'invalid value for "opts[:"account_item_id"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_amount'].nil? && opts[:'min_amount'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"min_amount"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_amount'].nil? && opts[:'min_amount'] < -999999999999
        fail ArgumentError, 'invalid value for "opts[:"min_amount"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to -999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_amount'].nil? && opts[:'max_amount'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"max_amount"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_amount'].nil? && opts[:'max_amount'] < -999999999999
        fail ArgumentError, 'invalid value for "opts[:"max_amount"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to -999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'partner_id'].nil? && opts[:'partner_id'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"partner_id"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'partner_id'].nil? && opts[:'partner_id'] < 0
        fail ArgumentError, 'invalid value for "opts[:"partner_id"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'item_id'].nil? && opts[:'item_id'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"item_id"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'item_id'].nil? && opts[:'item_id'] < 0
        fail ArgumentError, 'invalid value for "opts[:"item_id"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'section_id'].nil? && opts[:'section_id'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"section_id"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'section_id'].nil? && opts[:'section_id'] < 0
        fail ArgumentError, 'invalid value for "opts[:"section_id"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'segment_1_tag_id'].nil? && opts[:'segment_1_tag_id'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"segment_1_tag_id"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'segment_1_tag_id'].nil? && opts[:'segment_1_tag_id'] < 0
        fail ArgumentError, 'invalid value for "opts[:"segment_1_tag_id"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'segment_2_tag_id'].nil? && opts[:'segment_2_tag_id'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"segment_2_tag_id"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'segment_2_tag_id'].nil? && opts[:'segment_2_tag_id'] < 0
        fail ArgumentError, 'invalid value for "opts[:"segment_2_tag_id"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'segment_3_tag_id'].nil? && opts[:'segment_3_tag_id'] > 999999999999
        fail ArgumentError, 'invalid value for "opts[:"segment_3_tag_id"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && !opts[:'segment_3_tag_id'].nil? && opts[:'segment_3_tag_id'] < 0
        fail ArgumentError, 'invalid value for "opts[:"segment_3_tag_id"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 0.'
      end

      allowable_values = ["posted_with_mention", "raised_with_mention", "resolved_with_mention", "posted", "raised", "resolved", "none"]
      if @api_client.config.client_side_validation && opts[:'comment_status'] && !allowable_values.include?(opts[:'comment_status'])
        fail ArgumentError, "invalid value for \"comment_status\", must be one of #{allowable_values}"
      end
      allowable_values = ["only", "without"]
      if @api_client.config.client_side_validation && opts[:'adjustment'] && !allowable_values.include?(opts[:'adjustment'])
        fail ArgumentError, "invalid value for \"adjustment\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] > 9223372036854775807
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 9223372036854775807.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ManualJournalsApi.get_manual_journals, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ManualJournalsApi.get_manual_journals, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/1/manual_journals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = company_id
      query_params[:'start_issue_date'] = opts[:'start_issue_date'] if !opts[:'start_issue_date'].nil?
      query_params[:'end_issue_date'] = opts[:'end_issue_date'] if !opts[:'end_issue_date'].nil?
      query_params[:'entry_side'] = opts[:'entry_side'] if !opts[:'entry_side'].nil?
      query_params[:'account_item_id'] = opts[:'account_item_id'] if !opts[:'account_item_id'].nil?
      query_params[:'min_amount'] = opts[:'min_amount'] if !opts[:'min_amount'].nil?
      query_params[:'max_amount'] = opts[:'max_amount'] if !opts[:'max_amount'].nil?
      query_params[:'partner_id'] = opts[:'partner_id'] if !opts[:'partner_id'].nil?
      query_params[:'partner_code'] = opts[:'partner_code'] if !opts[:'partner_code'].nil?
      query_params[:'item_id'] = opts[:'item_id'] if !opts[:'item_id'].nil?
      query_params[:'section_id'] = opts[:'section_id'] if !opts[:'section_id'].nil?
      query_params[:'segment_1_tag_id'] = opts[:'segment_1_tag_id'] if !opts[:'segment_1_tag_id'].nil?
      query_params[:'segment_2_tag_id'] = opts[:'segment_2_tag_id'] if !opts[:'segment_2_tag_id'].nil?
      query_params[:'segment_3_tag_id'] = opts[:'segment_3_tag_id'] if !opts[:'segment_3_tag_id'].nil?
      query_params[:'comment_status'] = opts[:'comment_status'] if !opts[:'comment_status'].nil?
      query_params[:'comment_important'] = opts[:'comment_important'] if !opts[:'comment_important'].nil?
      query_params[:'adjustment'] = opts[:'adjustment'] if !opts[:'adjustment'].nil?
      query_params[:'txn_number'] = opts[:'txn_number'] if !opts[:'txn_number'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'InlineResponse2006' 

      # auth_names
      auth_names = opts[:auth_names] || ['oauth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualJournalsApi#get_manual_journals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 振替伝票の更新
    #  <h2 id=\"\">概要</h2>  <p>指定した事業所の振替伝票を更新する</p>  <h2 id=\"_2\">定義</h2>  <ul> <li> <p>issue_date : 発生日</p> </li>  <li> <p>adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）</p> </li>  <li> <p>txn_number : 仕訳番号</p> </li>  <li> <p>details : 振替伝票の貸借行</p> </li>  <li> <p>entry_side : 貸借区分</p>  <ul> <li>credit : 貸方</li>  <li>debit : 借方</li> </ul> </li>  <li> <p>amount : 金額</p> </li> </ul>  <h2 id=\"_3\">注意点</h2>  <ul> <li>振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。</li>  <li>事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。</li> <li>貸借合わせて100行まで仕訳行を登録できます。</li>  <li>detailsに含まれない既存の貸借行は削除されます。更新後も残したい行は、必ず貸借行IDを指定してdetailsに含めてください。</li>  <li>detailsに含まれる貸借行IDの指定がある行は、更新行として扱われ更新されます。</li>  <li>detailsに含まれる貸借行IDの指定がない行は、新規行として扱われ追加されます。</li> <li>セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。</li> <li>partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。</li></ul>  
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [ManualJournalUpdateParams] :manual_journal_update_params 振替伝票の更新
    # @return [ManualJournalResponse]
    def update_manual_journal(id, opts = {})
      data, _status_code, _headers = update_manual_journal_with_http_info(id, opts)
      data
    end

    # 振替伝票の更新
    #  &lt;h2 id&#x3D;\&quot;\&quot;&gt;概要&lt;/h2&gt;  &lt;p&gt;指定した事業所の振替伝票を更新する&lt;/p&gt;  &lt;h2 id&#x3D;\&quot;_2\&quot;&gt;定義&lt;/h2&gt;  &lt;ul&gt; &lt;li&gt; &lt;p&gt;issue_date : 発生日&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;adjustment : 決算整理仕訳フラグ（true: 決算整理仕訳, false: 日常仕訳）&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;txn_number : 仕訳番号&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;details : 振替伝票の貸借行&lt;/p&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;entry_side : 貸借区分&lt;/p&gt;  &lt;ul&gt; &lt;li&gt;credit : 貸方&lt;/li&gt;  &lt;li&gt;debit : 借方&lt;/li&gt; &lt;/ul&gt; &lt;/li&gt;  &lt;li&gt; &lt;p&gt;amount : 金額&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt;  &lt;h2 id&#x3D;\&quot;_3\&quot;&gt;注意点&lt;/h2&gt;  &lt;ul&gt; &lt;li&gt;振替伝票は売掛・買掛レポートには反映されません。債権・債務データの登録は取引(Deals)をお使いください。&lt;/li&gt;  &lt;li&gt;事業所の仕訳番号形式が有効な場合のみ、レスポンスで仕訳番号(txn_number)を返します。&lt;/li&gt; &lt;li&gt;貸借合わせて100行まで仕訳行を登録できます。&lt;/li&gt;  &lt;li&gt;detailsに含まれない既存の貸借行は削除されます。更新後も残したい行は、必ず貸借行IDを指定してdetailsに含めてください。&lt;/li&gt;  &lt;li&gt;detailsに含まれる貸借行IDの指定がある行は、更新行として扱われ更新されます。&lt;/li&gt;  &lt;li&gt;detailsに含まれる貸借行IDの指定がない行は、新規行として扱われ追加されます。&lt;/li&gt; &lt;li&gt;セグメントタグ情報は法人向けのプロフェッショナルプラン以上で利用可能です。利用可能なセグメントの数は、法人向けのプロフェッショナルプランの場合は1つ、エンタープライズプランの場合は3つです。&lt;/li&gt; &lt;li&gt;partner_codeを利用するには、事業所の設定から取引先コードの利用を有効にする必要があります。またpartner_codeとpartner_idは同時に指定することはできません。&lt;/li&gt;&lt;/ul&gt;  
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [ManualJournalUpdateParams] :manual_journal_update_params 振替伝票の更新
    # @return [Array<(ManualJournalResponse, Integer, Hash)>] ManualJournalResponse data, response status code and response headers
    def update_manual_journal_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManualJournalsApi.update_manual_journal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ManualJournalsApi.update_manual_journal"
      end
      if @api_client.config.client_side_validation && id > 999999999999
        fail ArgumentError, 'invalid value for "id" when calling ManualJournalsApi.update_manual_journal, must be smaller than or equal to 999999999999.'
      end

      if @api_client.config.client_side_validation && id < 1
        fail ArgumentError, 'invalid value for "id" when calling ManualJournalsApi.update_manual_journal, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/1/manual_journals/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'manual_journal_update_params']) 

      # return_type
      return_type = opts[:return_type] || 'ManualJournalResponse' 

      # auth_names
      auth_names = opts[:auth_names] || ['oauth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManualJournalsApi#update_manual_journal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
